{% extends './base/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Spanish Link {% endblock %}
{% block description %} Bienvenidos a Spanish Link {% endblock %}
{% block content %}
    <style>
        html {
            scroll-behavior: smooth;
        }
    </style>
    <script>
        window.scroll({
            top: 2500,
            left: 0,
            behavior: 'smooth'
        });
    </script>
    <div class="page-header register-page header-filter" filter-color="black" style=" padding-bottom: 50px;">
        <div class="container">
            <div class="row">
                <div class="ml-auto mr-auto m-1" style="min-height: 400px;">
                    <div class="card card-login card-hidden shadow-none"
                         style="background-color: rgba(0,0,0,0); border: none;">
                        <div class="card-body text-center" style="background-color: rgba(0,0,0,0); border: none;">
                            <h3 HIDDEN class="card-title">Bienvenidos</h3>
                            <br HIDDEN>
                            <h2 class="text-white txt-bold" style="">Si te lo perdiste, vuelve a ver el Lanzamiento Mundial de Spanish Link</h2>

                            <br>
                            <img class="img-fluid p-0 " src="{% static 'assets/img/33laserie/logo33_plateado.png' %}"
                                 style="max-height: 80px;">
                            <br>
                            <br>
                            <img HIDDEN class="img-fluid p-3"
                                 src="{% static 'assets/img/33laserie/title_txt_short.png' %}"
                                 style="max-height: 150px;">


                        <br>
                                <a HIDDEN href="#register" class="btn text-white font-weight-bold bg-danger mb-5"
                                   style="font-size: 2.3rem; border-radius: 100px; background-color: #ff0029; border-color: #ff0029;">
                                    REGÍSTRATE AQUÍ
                                </a>
                                {% if control.allow_login %}
                                <h1 class="text-white txt-bold">Si ya realizaste tu registro
                                <br>
                                <u>Da <a href="https://33laserie.events.house/login" class="text-white">Click Aquí para Ingresar</a></u></h1>
                                {% endif %}

                            <!-- BEGINS video-->
                            <div style="padding:56.25% 0 0 0;position:relative;">
                                <iframe src="https://player.vimeo.com/video/671328709?h=f77f206b7c&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                                        frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
                                        style="position:absolute;top:0;left:0;width:100%;height:100%;"
                                        title="33_SEC_OF_33"></iframe>
                            </div>
                            <script src="https://player.vimeo.com/api/player.js"></script>
                            <!-- ENDS video -->
                            <br>
                            <br>
                            <h2 class="text-white txt-bold" style="">No pierdas la oportunidad de ser uno de los primeros en adquirir e implementar este gran recurso para tu grupo de hombres…</h2>
                            <br>
                        <h1 class="text-white txt-bold" style="">ADQUIÉRELO AQUÍ</h1>
                            <br>
                            <div class="btn-group btn-group-lg" role="group" aria-label="Comprar">
                              <a type="button" class="btn btn-danger text-white" href="https://lacumbreshop.com/collections/33-la-serie" target="_blank">DESDE MÉXICO</a>
                              <a type="button" class="btn btn-danger text-white" href="https://www.authenticmanhood.com/store/view/33-la-serie-espanol" target="_blank">DESDE USA</a>
                              <a type="button" class="btn btn-danger text-white" href="https://www.authenticmanhood.com/files/uploads/Editada-BGDistribuidores_Internacionales_2021.pdf" target="_blank">DESDE LATAM</a>
                            </div>
                        <br>
                        <br>
                        <br>
                        <br>
                            <div class="embed-responsive embed-responsive-16by9" hidden>
                              <iframe class="embed-responsive-item" src="https://www.flipsnack.com/lifewayrecursos/33-la-serie-muestra-gratis/full-view.html" allowfullscreen></iframe>
                            </div>
                            <!-- BEGINS timer -->
                            <center>
                                <div HIDDEN id="countdown" class="row text-center text-white" style="padding-top: 70px; ">
                                    <h1 hidden class="text-white" style="font-size: 2.3rem;">
                                        27 de enero 2022.<br>19:00 hrs (Hora Central)
                                    </h1>
                                    <br>
                                    <center>
                                        <img class="img-fluid p-0 "
                                             src="{% static 'assets/img/33laserie/fecha-txt.png' %}"
                                             style="max-height: 150px;"/>
                                    </center>
                                    <br>
                                    <br>
                                    <br>
                                    <div class="col-lg-12 mx-auto" style="border: 0px solid white; border-radius: 0">
                                        <br HIDDEN>
                                        <h1 HIDDEN id="countdown-text" class="text-white text-bold"></h1>
                                        <h1 id="countdown-hour1" class="text-white">
                                        </h1>
                                        <h1 id="countdown-hour" class="text-white" style="font-size: 3rem;">
                                            <span id="days" class="text-white hour"></span>
                                            :
                                            <span id="hours" class="text-white hour"></span>
                                            :
                                            <span id="minutes" class="text-white hour"></span>
                                            :
                                            <span id="seconds" class="text-white hour"></span>
                                        </h1>
                                        <div id="countdown-legend" style="">
                        <span HIDDEN id="days-text" class="text-white hour"
                              style="margin-left: 8%; padding-left: 30px; padding-right: 50px">Días</span>
                                            <span id="hours-text"
                                                  class="text-white hour"
                                                  style="padding-right: 60px; padding-left: 50px;">Horas</span>
                                            <span id="minutes-text" class="text-white hour"
                                                  style="padding-right: 60px; padding-left: 50px;">Minutos</span>
                                            <span id="seconds-text" class="text-white hour"
                                                  style="padding-right: 40px; padding-left: 30px;">Segundos</span>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <br>
                            </center>
                            <style>

                                @media (min-width: 900px) {
                                    #countdown-hour {
                                        font-size: 5rem !important;
                                    }

                                    #days-text, #hours-text, #minutes-text, #seconds-text {
                                        font-size: 1.5rem !important;
                                        padding-right: 20px !important;
                                        padding-left: -20px !important;
                                    }

                                    #days-text {
                                        margin-left: -20%;
                                    }

                                }

                                @media (max-width: 768px) {
                                    #countdown-hour {
                                        font-size: 3rem !important;
                                    }

                                    #days-text {
                                        margin-left: -100px;
                                    }

                                    #days-text, #hours-text, #minutes-text, #seconds-text {
                                        font-size: 0.8rem !important;
                                        padding-right: 20px !important;
                                        padding-left: 15px !important;
                                    }

                                }

                                @media (max-width: 490px) {
                                    #countdown-hour {
                                        font-size: 2.3rem !important;
                                    }

                                    #days-text {
                                        margin-left: -100px;
                                    }

                                    #days-text, #hours-text, #minutes-text, #seconds-text {
                                        font-size: 0.5rem !important;
                                        padding-right: 20px !important;
                                        padding-left: 15px !important;
                                    }

                                }

                                @media (max-width: 320px) {
                                    #countdown-hour {
                                        font-size: 1.5rem !important;
                                    }

                                    #days-text {
                                    }

                                    #days-text, #hours-text, #minutes-text, #seconds-text {
                                        font-size: 0.5rem !important;
                                        padding-right: 10px !important;
                                        padding-left: 0px !important;
                                    }

                                }

                            </style>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}