[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.15"
weasyprint = "*"
bleach = "*"
django-import-export = "*"

[dev-packages]

[requires]
python_version = "3.8"
